name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t fastapi-app .

    - name: Run container
      run: docker run -d -p 8000:8000 fastapi-app

    - name: Health check
      run: |
        sleep 5
        curl http://localhost:8000
